<!doctype html>
{% load static %}
<html lang="en">
<head>
		<meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="author" content="spacingtech_webify">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- title -->
        <title>Tempa - The luxury hotel HTML5 template</title>
        <!-- favicon -->
        <link rel="icon" type="image/x-icon" href="{% static 'image/favicon/favicon.png' %}">
        <!-- bootstrap css -->
        <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
        <!-- fontawesome css -->
        <link rel="stylesheet" type="text/css" href="{% static 'css/all.min.css' %}">
        <!-- feather css -->
        <link rel="stylesheet" type="text/css" href="{% static 'css/feather.css' %}">
        <!-- animate css -->
        <link rel="stylesheet" type="text/css" href="{% static 'css/animate.min.css' %}">
        <!-- owl-carousel css -->
        <link rel="stylesheet" type="text/css" href="{% static 'css/owl.carousel.min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/owl.theme.default.min.css' %}">
        <!-- swiper css -->
        <link rel="stylesheet" type="text/css" href="{% static 'css/swiper-bundle.min.css' %}">
        <!-- slick css -->
        <link rel="stylesheet" type="text/css" href="{% static 'css/slick.css' %}">
        <!-- magnific-popup css -->
        <link rel="stylesheet" type="text/css" href="{% static 'css/magnific-popup.css' %}">
        <!-- datepicker css -->
        <link rel="stylesheet" type="text/css" href="{% static 'css/datepicker.min.css' %}">
        <!-- theme css -->
        <link rel="stylesheet" type="text/css" href="{% static 'css/main-1.css' %}">
        <!-- style css -->
        <link rel="stylesheet" type="text/css" href="{% static 'css/style-1.css' %}">
	</head>

		<header class="store-header" id="header">
				<div class="header-area">
					<div class="container-fluid">
						<div class="row">
							<div class="col">
								<div class="header-block">
									<div class="header-wrap logo">
										<div class="logo-area">
											<a href="/" class="logo">
												<img src="{% static 'image/logo.png' %}" class="img-fluid" alt="logo">
											</a>
										</div>
									</div>
									<div class="header-wrap menu">
										<div class="main-menu">
											<ul class="menu-ul">
                                                <li class="menu-li">
                                                <a href="/" class="menu-link"><span class="title">Home</span></a>
                                                </li>
												<li class="menu-li">
													<a href="/facilities/" class="menu-link"><span class="title">Facilities</span></a>
												</li>
												<li class="menu-li">
													<a href="javascript:void(0)" class="menu-link">
														<span class="title">Rooms</span>
														<span class="icon"><i class="feather-chevron-down"></i></span>
													</a>
													<ul class="menu-drop-ul collapse">
														<li class="menu-drop-li">
															<a href="/room/" class="menu-drop-link">Room grid</a>
														</li>
														<li class="menu-drop-li">
															<a href="/room_list/" class="menu-drop-link">Room list</a>
														</li>
													</ul>
												</li>
												<li class="menu-li">
													<a href="/contact/" class="menu-link"><span class="title">Contact us</span></a>
												</li>
                                                <li class="menu-li">
                                                    <a href="/about/" class="menu-link"><span class="title">About</span></a>
                                                </li>
                                                <li class="menu-li">
                                                    <a href="/blog/" class="menu-link"><span class="title">Blog</span></a>
                                                </li>

											</ul>
										</div>
									</div>
									<div class="header-wrap right-block">
										<ul class="right-block-ul">
											<li class="right-block-li toggle-menu">
												<a href="javascript:void(0)" class="right-block-link toggler-btn">
													<div class="icon-block">
														<span class="icon"><i class="feather-align-right"></i></span>
													</div>
												</a>
											</li>
											<li class="right-block-li search">
												<a href="javascript:void(0)" class="right-block-link" data-bs-toggle="modal" data-bs-target="#searchModel">
													<div class="icon-block">
														<span class="icon"><i class="feather-search"></i></span>
													</div>
													<div class="text-block">
                                                        {% csrf_token %}
														<p class="mini-title">Search</p>
														<span class="main-title">Find our search</span>
													</div>
												</a>
											</li>
											<li class="right-block-li phone">
												<a href="tel:(998)903995955" class="right-block-link">
													<div class="icon-block">
														<span class="icon"><i class="feather-phone-call"></i></span>
													</div>
													<div class="text-block">
														<p class="mini-title">Phone number</p>
														<span class="main-title">(90) 399 5955</span>
													</div>
												</a>
											</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
		</header>
{% if user.authenticated %}

{% else %}
		<section class="top-notification">
			<div class="container-fluid">
				<div class="row">
					<div class="col">
						<div class="notification-main">
							<ul class="notification-ul">
								<li class="notification-li contact">
									<div class="contact-block">
										<div class="info-block">
											<p class="label">Email :</p>
											<a href="abdulazizy5955@icloud.com" class="link">abdulazizy5955@icloud.com</a>
										</div>
										<div class="info-block">
											<a href="/pricing/" class="link">Reservation</a>
										</div>
									</div>
								</li>
								<li class="notification-li offer-text">
									<div class="text-block">
										<p class="text">Enjoy specials packages and resort offers</p>
									</div>
								</li>
								<li class="notification-li right-bar">
									<ul class="right-bar-ul">
										<li class="right-bar-li right-bar-link1 link-xs">
											<a href="/pricing/"><span class="title">Reservation</span></a>
										</li>
										<li class="right-bar-li right-bar-link2">
											<a href="/room/"><span class="title">Hotel book</span></a>
										</li>
										<li class="right-bar-li right-bar-link3">
                                            {% if user.is_authenticated %}
                                                <a href="/logout/"><span class="title">Log out</span></a>
                                            {% else %}
                                                <a href="/signin/"><span class="title">Login</span></a>
											    <a href="/signup/"><span class="title">Register</span></a>
                                            {% endif %}
										</li>
									</ul>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</section>
{% endif %}
        {% block content%}

        {% endblock %}
		<footer class="store-footer">
			<div class="container">
				<div class="row">
					<div class="col">
						<div class="footer-block">
							<ul class="footer-ul">
								<li class="footer-li footer-link">
									<div class="link-block">
										<h4 class="block-title lg-title">Explore now</h4>
										<a href="#footer-link-1" class="xs-title" data-bs-toggle="collapse">
											<span class="title">Explore now</span>
											<span class="icon"><i class="feather-plus"></i></span>
										</a>
										<ul class="link-ul collapse" id="footer-link-1">
											<li class="link-li">
												<a href="blog-details.html" class="link-title">Who we are</a>
											</li>
											<li class="link-li">
												<a href="blog-details.html" class="link-title">Why book with us?</a>
											</li>
											<li class="link-li">
												<a href="blog-details.html" class="link-title">Best-price guarantee</a>
											</li>
											<li class="link-li">
												<a href="blog-details.html" class="link-title">Our reviewers</a>
											</li>
											<li class="link-li">
												<a href="blog-details.html" class="link-title">Member Rates</a>
											</li>
										</ul>
									</div>
								</li>
								<li class="footer-li footer-link">
									<div class="link-block">
										<h4 class="block-title lg-title">Usefull links</h4>
										<a href="#footer-link-2" class="xs-title" data-bs-toggle="collapse">
											<span class="title">Usefull links</span>
											<span class="icon"><i class="feather-plus"></i></span>
										</a>
										<ul class="link-ul collapse" id="footer-link-2">
											<li class="link-li">
												<a href="about.html" class="link-title">About story</a>
											</li>
											<li class="link-li">
												<a href="gallery.html" class="link-title">Photo gallary</a>
											</li>
											<li class="link-li">
												<a href="blog.html" class="link-title">Latest news & blog</a>
											</li>
											<li class="link-li">
												<a href="service.html" class="link-title">Service</a>
											</li>
											<li class="link-li">
												<a href="facilities.html" class="link-title">Facilities</a>
											</li>
										</ul>
									</div>
								</li>
								<li class="footer-li footer-info">
									<div class="info-block">
										<a href="index.html" class="logo"><img src="{% static 'image/logo.png' %}" class="img-fluid" alt="image"></a>
										<p class="desc"> It has a more or less normal distribution of as opposed to using content here content making it look like readable english.</p>
										<ul class="info-social-ul">
											<li class="info-social-li">
												<a href="https://www.facebook.com/" target="_blank" class="info-social-link">Fb</a>
											</li>
											<li class="info-social-li">
												<a href="https://www.instagram.com/" target="_blank" class="info-social-link">In</a>
											</li>
											<li class="info-social-li">
												<a href="https://twitter.com/" target="_blank" class="info-social-link">Tw</a>
											</li>
											<li class="info-social-li">
												<a href="https://dribbble.com/" target="_blank" class="info-social-link">Dr</a>
											</li>
										</ul>
									</div>
								</li>
								<li class="footer-li footer-link">
									<div class="link-block">
										<h4 class="block-title lg-title">Rooms & suites</h4>
										<a href="#footer-link-3" class="xs-title" data-bs-toggle="collapse">
											<span class="title">Rooms & suites</span>
											<span class="icon"><i class="feather-plus"></i></span>
										</a>
										<ul class="link-ul collapse" id="footer-link-3">
											<li class="link-li">
												<a href="room-grid.html" class="link-title">Classic rooms 45m<sub>2</sub></a>
											</li>
											<li class="link-li">
												<a href="room-list.html" class="link-title">Superior rooms 34m<sub>2</sub></a>
											</li>
											<li class="link-li">
												<a href="room-grid.html" class="link-title">Delux rooms 48m<sub>2</sub></a>
											</li>
											<li class="link-li">
												<a href="room-detail.html" class="link-title">Master rooms 24m<sub>2</sub></a>
											</li>
											<li class="link-li">
												<a href="room-list.html" class="link-title">Banquet halls 64m<sub>2</sub></a>
											</li>
										</ul>
									</div>
								</li>
								<li class="footer-li footer-link">
									<div class="link-block">
										<h4 class="block-title lg-title">Feature info</h4>
										<a href="#footer-link-4" class="xs-title" data-bs-toggle="collapse">
											<span class="title">About info</span>
											<span class="icon"><i class="feather-plus"></i></span>
										</a>
										<ul class="link-ul collapse" id="footer-link-4">
											<li class="link-li">
												<a href="blog-details.html" class="link-title">Blog details</a>
											</li>
											<li class="link-li">
												<a href="promotions.html" class="link-title">Promotions</a>
											</li>
											<li class="link-li">
												<a href="room-detail.html" class="link-title">Room detail</a>
											</li>
											<li class="link-li">
												<a href="restaurant.html" class="link-title">Restaurant</a>
											</li>
											<li class="link-li">
												<a href="video.html" class="link-title">Video</a>
											</li>
										</ul>
									</div>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</footer>
<div class="mobile-menu" id="mobile-menu">
            <div class="mobile-content">
                <div class="menu-close">
                    <button class="menu-close-btn">
                    	<span class="menu-close-icon"><i class="feather-x"></i></span>
                    </button>
                </div>
                <div class="mobile-scroalbar">
                    <div class="mobilemenu-content">
	                	<div class="main-menu">
							<ul class="menu-ul">
								<li class="menu-li">
									<a href="#single-menu-drop" data-bs-toggle="collapse" class="menu-link">
										<span class="title">Home</span>
										<span class="icon"><i class="feather-chevron-down"></i></span>
									</a>
									<ul class="menu-drop-ul collapse" id="single-menu-drop">
										<li class="menu-drop-li">
											<a href="#rtl-box-1" class="menu-drop-link" data-bs-toggle="collapse">
												<span class="title">The tempa 1</span>
												<span class="icon"><i class="feather-chevron-down"></i></span>
											</a>
											<ul class="side-menu-ul collapse" id="rtl-box-1">
												<li class="side-menu-li">
													<a href="index.html" class="side-menu-link">The tempa 1 ltr</a>
												</li>
												<li class="side-menu-li">
													<a href="https://spacingtech.com/html/hotel/hotel-rtl/index.html" class="side-menu-link">The tempa 1 rtl</a>
												</li>
												<li class="side-menu-li">
													<a href="https://spacingtech.com/html/hotel/hotel-box/index.html" class="side-menu-link">The tempa 1 box</a>
												</li>
											</ul>
										</li>
										<li class="menu-drop-li">
											<a href="#rtl-box-2" class="menu-drop-link" data-bs-toggle="collapse">
												<span class="title">The tempa 2</span>
												<span class="icon"><i class="feather-chevron-down"></i></span>
											</a>
											<ul class="side-menu-ul collapse" id="rtl-box-2">
												<li class="side-menu-li">
													<a href="index-2.html" class="side-menu-link">The tempa 2 ltr</a>
												</li>
												<li class="side-menu-li">
													<a href="https://spacingtech.com/html/hotel/hotel-rtl/index-2.html" class="side-menu-link">The tempa 2 rtl</a>
												</li>
												<li class="side-menu-li">
													<a href="https://spacingtech.com/html/hotel/hotel-box/index-2.html" class="side-menu-link">The tempa 2 box</a>
												</li>
											</ul>
										</li>
										<li class="menu-drop-li">
											<a href="#rtl-box-3" class="menu-drop-link" data-bs-toggle="collapse">
												<span class="title">The tempa 3</span>
												<span class="icon"><i class="feather-chevron-down"></i></span>
											</a>
											<ul class="side-menu-ul collapse" id="rtl-box-3">
												<li class="side-menu-li">
													<a href="index-3.html" class="side-menu-link">The tempa 3 ltr</a>
												</li>
												<li class="side-menu-li">
													<a href="https://spacingtech.com/html/hotel/hotel-rtl/index-3.html" class="side-menu-link">The tempa 3 rtl</a>
												</li>
												<li class="side-menu-li">
													<a href="https://spacingtech.com/html/hotel/hotel-box/index-3.html" class="side-menu-link">The tempa 3 box</a>
												</li>
											</ul>
										</li>
									</ul>
								</li>
								<li class="menu-li">
									<a href="facilities.html" class="menu-link"><span class="title">Facilities</span></a>
								</li>
								<li class="menu-li">
									<a href="#rooms-menu-drop" data-bs-toggle="collapse" class="menu-link">
										<span class="title">Rooms</span>
										<span class="icon"><i class="feather-chevron-down"></i></span>
									</a>
									<ul class="menu-drop-ul collapse" id="rooms-menu-drop">
										<li class="menu-drop-li">
											<a href="" class="menu-drop-link">Room grid</a>
										</li>
										<li class="menu-drop-li">
											<a href="" class="menu-drop-link">Room list</a>
										</li>
										<li class="menu-drop-li">
											<a href="" class="menu-drop-link">Room detail</a>
										</li>
									</ul>
								</li>
								<li class="menu-li">
									<a href="restaurant.html" class="menu-link"><span class="title">Restaurant</span></a>
								</li>
								<li class="menu-li">
									<a href="/contact/" class="menu-link"><span class="title">Contact us</span></a>
								</li>
								<li class="menu-li">
									<a href="#page-menu-drop" data-bs-toggle="collapse" class="menu-link">
										<span class="title">Pages</span>
										<span class="icon"><i class="feather-chevron-down"></i></span>
									</a>
									<ul class="menu-drop-ul collapse" id="page-menu-drop">
										<li class="menu-drop-li">
											<a href="about.html" class="menu-drop-link">About us</a>
										</li>
										<li class="menu-drop-li">
											<a href="membership.html" class="menu-drop-link">Membership</a>
										</li>
										<li class="menu-drop-li">
											<a href="gallery.html" class="menu-drop-link">Gallery</a>
										</li>
										<li class="menu-drop-li">
											<a href="pricing.html" class="menu-drop-link">Pricing</a>
										</li>
										<li class="menu-drop-li">
											<a href="blog.html" class="menu-drop-link">Blog</a>
										</li>
										<li class="menu-drop-li">
											<a href="blog-details.html" class="menu-drop-link">Blog details</a>
										</li>
										<li class="menu-drop-li">
											<a href="promotions.html" class="menu-drop-link">Promotions</a>
										</li>
										<li class="menu-drop-li">
											<a href="service.html" class="menu-drop-link">Service</a>
										</li>
										<li class="menu-drop-li">
											<a href="video.html" class="menu-drop-link">Hotel video</a>
										</li>
										<li class="menu-drop-li">
											<a href="404.html" class="menu-drop-link">404 page</a>
										</li>
										<li class="menu-drop-li">
											<a href="comming-soon.html" class="menu-drop-link">Comming soon</a>
										</li>
									</ul>
								</li>
							</ul>
						</div>
                    </div>
                </div>
            </div>
        </div>
        <!-- mobile-menu end -->
        <!-- search model start -->
        <div class="search modal fade" id="searchModel" tabindex="-1" aria-hidden="true">
        	<div class="modal-dialog">
        		<div class="modal-content">
        			<div class="modal-body">
        				<div class="container">
        					<div class="row">
        						<div class="col">
        							<div class="search-box">
			                            <form action="/search/" method="get" class="search-bar">
                                            {% csrf_token %}
			                                <div class="form-search">
			                                    <input type="search" name="query" placeholder="Search here" class="search-input">
			                                    <a href="javascript:void(0)" class="search-btn"><span><i class="feather-search"></i></span></a>
			                                </div>
			                            </form>
			        					<a href="javascript:void(0)" class="m-close" data-bs-dismiss="modal"><span class="icon"><i class="feather-x"></i></span></a>
			                        </div>
        						</div>
        					</div>
        				</div>
        			</div>
        		</div>
        	</div>
        </div>
        <!-- search model end -->
		<!-- bg-scren start -->
        <div class="bg-screen"></div>
        <!-- bg-scren end -->
        <!-- bottom-menu start -->
        <div class="bottom-menu">
            <ul class="bottom-menu-ul">
                <li class="bottom-menu-li">
                    <div class="bottom-menu-block">
                        <a href="index.html" class="bottom-menu-link">
                            <span class="icon"><i class="feather-home"></i></span>
                            <span class="title">Home</span>
                        </a>
                    </div>
                </li>
                <li class="bottom-menu-li">
                    <div class="bottom-menu-block">
                        <a href="membership.html" class="bottom-menu-link">
                            <span class="icon"><i class="feather-calendar"></i></span>
                            <span class="title">Booking</span>
                        </a>
                    </div>
                </li>
                <li class="bottom-menu-li">
                    <div class="bottom-menu-block">
                        <a href="javascript:void(0)" class="bottom-menu-link" data-bs-toggle="modal" data-bs-target="#searchModel">
                            <span class="icon"><i class="feather-search"></i></span>
                            <span class="title">Search</span>
                        </a>
                    </div>
                </li>
                <li class="bottom-menu-li">
                    <div class="bottom-menu-block">
                        <a href="/contact/" class="bottom-menu-link">
                            <span class="icon"><i class="feather-map-pin"></i></span>
                            <span class="title">Location</span>
                        </a>
                    </div>
                </li>
                <li class="bottom-menu-li">
                    <div class="bottom-menu-block">
                        <a href="login.html" class="bottom-menu-link">
                            <span class="icon"><i class="feather-user"></i></span>
                            <span class="title">Login</span>
                        </a>
                    </div>
                </li>
            </ul>
        </div>
        <!-- bottom-menu end -->
        <!-- back-to-top start -->
        <a href="javascript:void(0)" id="top" class="scroll show">
            <span><i class="feather-arrow-up"></i></span>
        </a>
        <!-- back-to-top end -->
        <!-- preloader start -->
        <div class="preloader">
        	<div class="preloader-main">
		        <span style="--i:1;">L</span>
		        <span style="--i:2;">o</span>
		        <span style="--i:3;">a</span>
		        <span style="--i:4;">d</span>
		        <span style="--i:5;">i</span>
		        <span style="--i:6;">n</span>
		        <span style="--i:7;">g</span>
		        <span style="--i:8;">.</span>
		        <span style="--i:9;">.</span>
		        <span style="--i:10;">.</span>
	        </div>
	    </div>
        <!-- preloader end -->
		<!-- bootstrap js -->
        <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
        <!-- jquery js -->
        <script src="{% static 'js/jquery-3.6.1.min.js' %}"></script>
        <!-- swiper-carousel js -->
        <script src="{% static 'js/swiper-bundle.min.js' %}"></script>
        <!-- owl-carousel js -->
        <script src="{% static 'js/owl.carousel.min.js' %}"></script>
        <!-- slick js -->
        <script src="{% static 'js/slick.min.js' %}"></script>
        <!-- custom-selector js -->
        <script src="{% static 'js/custom-selector-1.js' %}"></script>
        <!-- magnific-popup js -->
        <script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
        <!-- datepicker js -->
        <script src="{% static 'js/datepicker.min.js' %}"></script>
        <!-- wow js -->
        <script src="{% static 'js/wow.min.js' %}"></script>
        <!-- custom js -->
        <script src="{% static 'js/theme.js' %}"></script>

	</body>

</html>